<h1>All of the cats in the world!</h1>

<ul>
    <% @cats.each do |cat| %>
        <li> <a href="<%= cat_url(cat) %>"><strong><%=cat[:name]%></strong>, the <%=cat[:color].downcase%> cat.</a></li>
    <% end %>
</ul>

<a href=<%= new_cat_url %>>Add a new cat to the family!</a>
